# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/

# IDE
.vscode/
.idea/

# OS
*.crdownload
Thumbs.db
.DS_Store

# Data files
*.wav
*.mp3
*.flac

# Model checkpoints
*.pt
*.pth
*.ckpt

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

data/raw_audio/
*.tar.gz
*.npz

audio_drift_detection/data/raw_audio/
